In [106]:
dictionary = {key: [] for key in range(1,12)}
with open('dataset_3380_5 (7).txt') as file:
    for line in file:
        print(line)
        items = line.split()
        if items:
            number = int(items[0])
            height = int(items[2])
            dictionary[number].append(height)

9	Samuels	169

1	Foster	127

4	Croftoon	142

11	Smith	171

11	Larkins	173

6	Duncan	151

3	Gate	137

7	Ferguson	163

7	Bootman	158

11	Taylor	179

4	Foster	139

1	Jacobson	121

1	Croftoon	121

11	Sheldon	176

10	Miers	169

5	Wallace	140

6	MacDonald	152

7	Warren	164

6	Boolman	150

2	Calhoun	126

5	Nelson	140

8	Livingston	162

3	James	134

6	Timmons	152

1	Hawkins	127

10	Alsopp	171

1	Francis	125

2	Ryder	131

10	Ayrton	173

3	Calhoun	134

10	Hailey	175

8	Farmer	165

1	Kennedy	126

5	Lawman	147

1	Donovan	125

8	Bargeman	170

7	Howard	156

6	Dodson	157

2	Stanley	133

1	Gustman	128

3	Enderson	132

4	Marlow	140

1	Laird	130

11	Ogden	175

7	Oswald	164

2	Ogden	131

9	Donaldson	166

2	Samuels	126

1	Youmans	120

2	Tracey	126

7	Jerome	165

4	Smith	141

2	Ward	125

2	Milton	128

8	Vance	166

2	Miln	125

9	Walter	165

3	Benson	133

7	Kirk	163

8	Coleman	163

7	Watson	161

2	Roger	126

In [107]:
dictionary

{1: [127, 121, 121, 127, 125, 126, 125, 128, 130, 120],
 2: [126, 131, 133, 131, 126, 126, 125, 128, 125, 126],
 3: [137, 134, 134, 132, 133],
 4: [142, 139, 140, 141],
 5: [140, 140, 147],
 6: [151, 152, 150, 152, 157],
 7: [163, 158, 164, 156, 164, 165, 163, 161],
 8: [162, 165, 170, 166, 163],
 9: [169, 166, 165],
 10: [169, 171, 173, 175],
 11: [171, 173, 179, 176, 175]}

In [108]:
def mean(numbers):
    if not numbers:
        return '-'
    return float(sum(numbers) / len(numbers))

In [109]:
res = {key: mean(value) for key, value in dictionary.items()}

In [104]:
sorted(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [110]:
for key in range(1, 12):
    print(key, res[key])

1 125.0
2 127.7
3 134.0
4 140.5
5 142.33333333333334
6 152.4
7 161.75
8 165.2
9 166.66666666666666
10 172.0
11 174.8